{% trans_default_domain 'FOSUserBundle' %}

{% trans_default_domain 'FOSUserBundle' %}
<br/>
<div>
    <h2 class="text-center">
        <a href="{{ path('fos_user_profile_show') }}">
            <i class="fa fa-arrow-left"> </i>
        </a>
        Modifier le mot de passe
    </h2>
    <hr/>
    <div class="form" style="margin-left: 20px">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-login float-right" />
        </div>
        {{ form_end(form) }}
    </div>
</div>

