{% trans_default_domain 'FOSUserBundle' %}

<br/>
<div>
    <h2 class="text-center">PROFILE</h2>
    <hr/>
    <div>
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <hr/>
        <div class="">
            <a href="{{ path('fos_user_change_password') }}" style="text-decoration: none">
                <button class="btn btn-outline-primary btn-lg btn-block">
                    Modifier le mot de passe
                </button>
            </a>
            <br/>
            <a href="{{ path('fos_user_profile_edit') }}" style="text-decoration: none">
                <button class="btn btn-outline-primary btn-lg btn-block">
                    Modifier le login</button>
            </a>
            <br/>
            <a href="{{ path('admin_dashboard') }}" style="text-decoration: none">
                <button class="btn btn-outline-primary btn-lg btn-block">
                    Acceuil
                </button>
            </a>
        </div>
    </div>

</div>

