
{% trans_default_domain 'FOSUserBundle' %}

<br/>
<div class="col-md-5 login-sec">
    <h2 class="text-center">Inscrivez-vous</h2>
    <div class="form" style="margin-left: 20px">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-group'}}) }}
        <div class="form-group row">
            {{ form_label(form.username, "Nom d'utilisateur", {'label_attr': {'class': 'col-sm-5 col-form-label'}}) }}
            <div class="col-sm-7">
                {{ form_widget(form.username) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'col-sm-5 col-form-label'}}) }}
            <div class="col-sm-7">
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.plainPassword.first, "Mot de passe", {'label_attr': {'class': 'col-sm-5 col-form-label'}}) }}
            <div class="col-sm-7">
                {{ form_widget(form.plainPassword.first) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.plainPassword.second, "Répéter le mot de passe", {'label_attr': {'class': 'col-sm-5 col-form-label'}}) }}
            <div class="col-sm-7">
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>

        <div class="col-sm-10">

        </div>
    <div class>
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
    </div>

</div>

<div class="col-md-7 banner-sec" style="margin-left: -110px">
    <img class="pos" src="{{ asset('asset/images/group-2822423_1920.png') }}">
    <div class="textpos text-justify"><p>Group Decision System Support</p></div>
</div>
